<h1>Bijouxville</h1>

<h2>Totals</h2>
<table id="total-jewelers">
  <tr>
    <th><%= link_to "Total Jewelers", jewelers_path %></th>
  </tr>
  <tr>
    <td><%= Jeweler.count %></td>
  </tr>
 </table>

<table id="total-jewels">
  <tr>
    <th>Total Jewels </th>
  </tr>
  <tr>
    <td><%= @jewel_stats.total_quantity %></td>
  </tr>
 </table>

<h2>Jewels per material</h2>
 <table id="materials">
  <tr>
    <th><%= link_to "Materials", materials_path %> </th>
    <th>Quantity </th>
    <th>Value </th>
  </tr>
  <% Material.all.each do |material| %>
    <tr>
      <td><%= material.name %></td>
      <td><%= @jewel_stats.per_material[material.name]["quantity"] %></td>
      <td><%= @jewel_stats.per_material[material.name]["value"] %></td>
    </tr>
  <% end %>
 </table>

<h2>Jewels per stones</h2>
 <table id="stones">
  <tr>
    <th><%= link_to "Stones", stones_path %> </th>
    <th>Quantity </th>
    <th>Value </th>
  </tr>
  <% Stone.all.each do |stone| %>
    <tr>
      <td><%= stone.name %></td>
      <td><%= @jewel_stats.per_stone[stone.name]["quantity"] %></td>
      <td><%= @jewel_stats.per_stone[stone.name]["value"] %></td>
    </tr>
  <% end %>
 </table>

<h2>All jewels</h2>
<table id="jewels">
  <tr>
    <th>Jewels </th>
    <th>Price </th>
  </tr>
  <% Jewel.all.each do |jewel| %>
    <tr>
      <td><%= link_to jewel.name, jewel_path(jewel) %></td>
      <td><%= jewel.material.base_cost + jewel.stones.map { |stone| stone.price }.sum %></td>
    </tr>
  <% end %>
 </table>
