<p><%= Jeweler.count %> <%= 'jeweler'.pluralize(Jeweler.count) %></p>
<p><%= Jewel.count %> <%= 'jewel'.pluralize(Jewel.count) %></p>

<ol id="stones">
  <% Stone.all.each do |stone| %>
    <li>
      <span class="name"><%= stone.name %></span>
      (<%= JewelStone.where(stone: stone).uniq.count %>)
    </li>
  <% end %>
</ol>

<ol id="materials">
  <% Material.all.each do |material| %>
    <li>
      <span class="name"><%= material.name %></span>
      (<%= JewelMaterial.where(material: material).uniq.count %>)
    </li>
  <% end %>
</ol>

<ul id="jewels">
  <% @jewels.each do |jewel| %>
    <li><%= link_to jewel.name, jewel_path(jewel) %></li>
  <% end %>
</ul>
